* {
    box-sizing: border-box;
    margin: 0;
}

body {
    background-color: rgb(245, 245, 220);
}

.container {
    padding: 1rem;
}

#date-container {
    margin-bottom: 1rem;
}

.form-container {
    border: 1px solid black;
    background-color: rgb(240, 249, 255);

    width: 30%;
    display: none;

    position: absolute;
    right: 20px;
    bottom: 50px;

    animation-name: pop-up;
    animation-duration: 0.7s;
    animation-iteration-count: 1;
}

.form-content {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
}

.form-error-msg {
    display: none;
    color: red;
}

.exit-btn {
    text-align: right;
}

.submit-btn,
.help-btn {
    background-color: rgb(112, 113, 234);
    border: none;
    color: white;
    padding: 0.2rem;
    border-radius: 5px;
}

.help-btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
    padding: 0.2rem 0.6rem;
}

@keyframes pop-up {
    0% {
        opacity: 0%;
    }

    50% {
        opacity: 50%;
    }

    100% {
        opacity: 100%;
    }
}